@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/foundation.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/general_foundicons.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/custom.modernizr.js")"></script>
        <script src="@routes.Assets.at("javascripts/zepto.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/foundation/foundation.js")"></script>
        <script src="@routes.Assets.at("javascripts/foundation/foundation.forms.js")"></script>
        <script src="@routes.Assets.at("javascripts/foundation/foundation.dropdown.js")"></script>
        <script src="@routes.Assets.at("javascripts/foundation/foundation.section.js")"></script>
        <script src="@routes.Assets.at("javascripts/foundation/foundation.joyride.js")"></script>
    </head>
    <body>
        @content
    </body>
</html>
